:root{
    --color-primary: #333333;
    --color-grey: #828282;
    --color-green: #27AE60;
    --color-white: #FFFFFF;
    --color-grey3:#828282;
    --color-grey4:#BDBDBD;

    --font-primary:  'Inter', sans-serif;
}